@import '../scss/abstractions/_variables';
@import '../scss/abstractions/_mixins';

#page-container {
    .content-main {
        width: 100%;
        transition: width .5s;
    }
    .sidebar {
        background-color: rgba(255,255,255, .8);
        position: fixed;
        top: 0;
        left: 100%;
        width: 25%;
        height: 100%;
        transition-property: left;
        transition-duration: .5s;

        -webkit-box-shadow: -2px 2px 6px -1px rgba(0,0,0,0.5);
        -moz-box-shadow: -2px 2px 6px -1px rgba(0,0,0,0.5);
        box-shadow: -2px 2px 6px -1px rgba(0,0,0,0.5);
        
        overflow: scroll;
                
    }

    &.sidebar-open {
        .content-main {
            width: 75%;
        }
        .sidebar {
            left: 75%;
        }
    }

}