node_modules
build
npm-debug.log
.nyc
*.css.gz
*.sql.gz
.env
.DS_Store


/themes/custom/auto-mate-react-001/js/dist/main.min.js
/themes/custom/auto-mate-react-001/js/dist/main.min.js.map

/report-generator/lighthouse
/vendor
/core
/modules/contrib/
/modules/README.txt
/profiles/README.txt
/sites/default/files/css/}}
/sites/default/files/js/
/sites/default/files/php/
/sites/development.services.yml
/sites/example.settings.local.php
/sites/example.sites.php
/sites/README.txt
/themes/README.txt
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.htaccess
/.ht.router.php
/autoload.php
/composer.lock
/example.gitignore
/index.php
/INSTALL.txt
/LICENSE.txt
/README.txt
/robots.txt
/update.php
/web.config
*.csv
*.sh
*.scssc
/report-generator/*/*/*.json
/report-generator/*.csv
/report-generator/*.json
/sites/default/files/feeds/log/*/items/*.json
/sites/default/files/css/*.css
/report-generator/_lighthouse_report_queue/*/*/*
report-generator/_lighthouse-report-queue
report-generator/_lighthouse-archive
sites/default/files/test-report-json/flooranddecor.com_2019-why-wood-pdf.html.json
sites/default/files/test-report-json/flooranddecor.com_2020-home-tile-and-flooring-trends.html.json
themes/custom/auto_mate_react_001/.sass-cache/38d205f7e40d6a9178687b220c4da1dc32cad87e/style.scssc
themes/custom/auto_mate_react_001/.sass-cache/4662116c0ef9301edfcf5e0a8589e5c03c87544b/style.scssc
themes/custom/auto_mate_react_001/.sass-cache/742dd130f6a926257f376295480eb28ab181e4ce/_mixins.scssc
themes/custom/auto_mate_react_001/.sass-cache/742dd130f6a926257f376295480eb28ab181e4ce/_variables.scssc
themes/custom/auto_mate_react_001/.sass-cache/8c285077e2683fa165d08e63785f599c9dd90218/PageDomain.scssc
