node_modules
build
npm-debug.log
.nyc
*.css.gz
.env
.DS_Store


/report-generator/lighthouse
/vendor
/core
/modules/contrib/
/modules/README.txt
/profiles/README.txt
/sites/default/files/css/
/sites/default/files/js/
/sites/default/files/php/
/sites/development.services.yml
/sites/example.settings.local.php
/sites/example.sites.php
/sites/README.txt
/themes/README.txt
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.htaccess
/.ht.router.php
/autoload.php
/composer.json
/composer.lock
/example.gitignore
/index.php
/INSTALL.txt
/LICENSE.txt
/README.txt
/robots.txt
/update.php
/web.config
report-generator/_test-input-report.csv
report-generator/_test-report-2.csv
report-generator/_test-report-from-json.csv
report-generator/_test-write-csv 2.csv
report-generator/test-reports/lighthouse-report-natalia-gill-1684601800425.json
report-generator/test-reports/report-natalia-gill-1684592278475.json
report-generator/test-reports/report-natalia-gill-1684593179562.report.csv
report-generator/test-reports/report-natalia-gill-1684593179562.report.json
report-generator/test-reports/report-natalia-gill-1684593405093.report.csv
report-generator/test-reports/report-natalia-gill-1684593405093.report.json
report-generator/test-reports/report-natalia-gill-1684593679025.report.csv
report-generator/test-reports/report-natalia-gill-1684593679025.report.json
report-generator/test-reports/report-natalia-gill-1684594139820.report.csv
report-generator/test-reports/report-natalia-gill-1684594139820.report.json
report-generator/test-reports/report-natalia-gill-1684594171666.report.csv
report-generator/test-reports/report-natalia-gill-1684594171666.report.json
report-generator/test-reports/report-skillpointe-1684592278475.json
report-generator/test-reports/report-skillpointe-1684593179562.report.csv
report-generator/test-reports/report-skillpointe-1684593179562.report.json
report-generator/test-reports/report-skillpointe-1684593405093.report.csv
report-generator/test-reports/report-skillpointe-1684593405093.report.json
report-generator/test-reports/report-skillpointe-1684593679025.report.csv
report-generator/test-reports/report-skillpointe-1684593679025.report.json
report-generator/test-reports/report-skillpointe-1684594139820.report.csv
report-generator/test-reports/report-skillpointe-1684594139820.report.json
report-generator/test-reports/report-skillpointe-1684594171666.report.csv
report-generator/test-reports/report-skillpointe-1684594171666.report.json
report-generator/www.nataliagill.com_blog-posts_3-major-benefits-to-eatong-solid-breakfast.mobile.report.csv
sites/default/files/feeds/_test-report-2.csv
