@use 'abstractions/mixins.scss';

#lightHouseReports {
        tr {
                cursor: pointer;
        }
}

.view-url-stats {
        border: 2px solid #ddd;
        padding: 2rem 1rem;

        .view-content {
                .views-row {
                        display: flex;
                        flex: 1 1 100%;

                        .views-col {
                                display: flex;
                                flex: 1 1 100%;
                                flex-wrap: wrap;
                                flex-direction: row;

                                >.views-field {
                                        text-align: center;
                                        display: flex;
                                        flex: 1 1 20%;
                                        flex-direction: column;

                                        .views-label {
                                                font-weight: bold;
                                        }

                                        .stat-average {
                                                font-size: 3rem;
                                                font-weight: 500;

                                                a {
                                                        display: flex;
                                                        flex-direction: column;
                                                        flex-wrap: wrap;

                                                        .label {
                                                                display: flex;
                                                                flex: 1 1 100%;
                                                        }

                                                        .value {
                                                                display: flex;
                                                                flex: 1 1 100%;
                                                        }
                                                }
                                        }

                                        .stat-range {
                                                flex: 1 1 100%;
                                        }
                                }
                        }

                }
        }
}