.timeline-elements-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .timeline-elements {
        position: relative;
        width: 100%;
        height: 100%;
        .timeline-element {
            .timeline.align-top & {
                top: 0;
            }
            .timeline.align-bottom & {
                bottom: 0;
            }        
        }
    }
}
.timeline-grid-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .timeline-grid {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.timeline {
    position: relative;
    height: 8rem;
    &.align-top {
        // padding: 0 4rem 2rem 4rem;
        border-top: 2px solid #eee;
    }

    &.align-bottom {
        // padding: 2rem 4rem 0 4rem;
        border-bottom: 2px solid #eee;

    }

}

.timeline-grid {
    .grid-line {
        .grid-line-label {
            position: absolute;
            right: 0;
            white-space: nowrap;
            font-size: .75em;

            .timeline.align-top & {
                bottom: -1.5rem;
            }

            .timeline.align-bottom & {
                top: -1.5rem;
            }
        }
    }
}