.timeline-elements-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .timeline-elements {
        position: relative;
        width: 100%;
        height: 100%;
        .timeline-element {
            cursor: pointer;
            position: absolute;
            height: 3rem;
            background-color: rgba(0,0,255,.2);
            .timeline.align-top & {
                top: -2px;
                .timeline-element-brackets {
                    width: 100%; height: 3rem;
                    margin-left: -2px;
                    border: 2px solid #333;
                    border-top: none;
                }

            }
            .timeline.align-bottom & {
                bottom: -2px;
                .timeline-element-brackets {
                    width: 100%; height: 3rem;
                    margin-left: -2px;
                    border: 2px solid #333;
                    border-bottom: none;
                    
                }
            }
            
        }
    }
}
.timeline-container {
    overflow-x: scroll;
    padding: 3rem;
}
.timeline-grid-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .timeline-grid {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.timeline {
    position: relative;
    height: 8rem;
    width: 800%;
    &.align-top {
        // padding: 0 4rem 2rem 4rem;
        border-top: 2px solid #eee;
    }

    &.align-bottom {
        // padding: 2rem 4rem 0 4rem;
        border-bottom: 2px solid #eee;

    }

}

.timeline-grid {
    .grid-line {
        .grid-line-label {
            position: absolute;
            left: 0;
            white-space: nowrap;
            font-size: .75em;

            .timeline.align-top & {
                bottom: -1.5rem;
            }

            .timeline.align-bottom & {
                top: -1.5rem;
            }
        }
    }
}